<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Employee List</title>
      <link rel="stylesheet" type="text/css" th:href="@{~/api/static/css/style.css}"/>
      <script type="text/javascript" th:src="@{~/api/static/js/main.js}"></script>
   </head>
   <body>
      <h1>Employee List</h1>     
      <div>
         <table border="1">
            <tr>
               <th>Employee no.</th>
               <th>First Name</th>
               <th>Last Name</th>
            </tr>
            <tr th:each ="employee : ${employees}">
               <td th:utext="${employee.empNo}">...</td>
               <td th:utext="${employee.firstName}">...</td>
               <td th:utext="${employee.lastName}">...</td>
            </tr>
         </table>
      </div>
   </body>
</html>